[submodule "submodules/k"]
	path = submodules/k
	url = git@github.com:GaloisInc/k.git
[submodule "submodules/X86-64-semantics"]
	path = submodules/X86-64-semantics
	url = git@github.com:GaloisInc/X86-64-semantics.git
        fetchRecurseSubmodules = false
[submodule "lean4/deps/lean-llvm"]
	path = deps/lean-llvm
	url = git@github.com:GaloisInc/lean-llvm.git
